/*-----------------------------------------
Project: Filip Mares portfolio - style.css
URL: http://www.filip-mares.cz/
Created: Aug. 14th, 2010
----------------------------------------- */
h1 {
    color: #fff;
	letter-spacing: -1px;
}
.articleWrap {
	padding-bottom: 1.5em;
}
.articleWrap em {
	width: 207px;
}
#copyright {
    zoom: 1;
}
body {
	padding-top: 0;
}
h1, #personalInfo {
	position: static;
}
#personalInfo {
	top: auto;
}