/*-----------------------------------------
Project: Filip Mares portfolio - style.css
URL: http://www.filip-mares.cz/
Created: Aug. 14th, 2010
----------------------------------------- */

/* CSS section order
--------------------------

 1. All media styles
 2. Print media styles
 3. Screen smedia tyles

*/

/*--------------------------------
  1. All media styles
---------------------------------- */

@media all {

html {
	text-align: center;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4em;
	text-align: left;
	width: 98%;
	margin: 0 auto;
}
h1, h2, h3 {
	font-family: Georgia, Times, Times New Roman, serif;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
	color: #d0d;
}
h1 {
	margin: 0;
	padding-top: 1em;
	font-size: 3.05em;
	color: #fff;
	letter-spacing: -2px;
}
h1 .name, h1 a.name:link, h1 a.name:visited, h1 .role, h1 .subject {
	color: #d0d;
	white-space: nowrap;
	text-decoration: none;
}
h1 a.name:hover, h1 a.name:active, h1 a.name:focus {
	color: #e6e;
}
h1 .name:before {
	content: '//';
	padding-right: 0.3em;
	color: #000;
}
h1 .name:after, h1 .role:after {
	content: '/';
	padding-left: 0.25em;
	color: #d0d;
	margin-right: -0.1em;
}
h1 .name:after {
	padding-left: 0.2em;
	margin-right: 0.05em;
}
h1 .role {
	border-bottom: none;
	color: #000;
}
h2 {
	margin: 0;
	font-size: 1.75em;
}
h3 {
	font-size: 1.7em;
	font-style: italic;
	text-transform: none;
}
p {
	font-size: 1.15em;
	line-height: 1.5em;
}
ul {
	font-size: 1.3em;
	margin: 0 0 1.5em;
}
a, a:link {
	color: #0a0;
	text-decoration: underline;
}
a:visited {
	color: #080;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #0c0;
}
.hidden, #navbar {
	display: none;
}

/* Header */

#personalInfo {
	margin: 0;
	padding: 1em 0;
	list-style: none;
	border-bottom: 1px solid #333;
}
#personalInfo li {
	display: inline;
	padding-right: 0.4em;
}
#personalInfo li:before {
	content: '/';
	padding-right: 0.4em;
}
#personalInfo li:first-child:before {
	content: '';
	padding-right: 0;
}

/* Footer */

#copyright {
	clear: both;
	padding: 1.5em 0;
	margin-bottom: 1em;
}

/* Section */

.articleWrap {
	clear: both;
	border-bottom: 1px solid #ece;
	padding-top: 1.7em;
}
.articleWrap h2 {
	clear: both;
	font-size: 2.5em;
	letter-spacing: -1px;
	margin-bottom: 0.8em;
}
.articleWrap h2 a {
	display: block;
	padding: 0.2em 0;
	color: #d0d;
	text-decoration: none;
}
.articleWrap h2 a:visited {
	color: #a7a;
}
.articleWrap h2 a:hover, .articleWrap h2 a:active, .articleWrap h2 a:focus {
	color: #a0a;
	background: #fef;
}
.articleWrap em {
	font-size:1.2em;
	line-height: 1.3em;
	font-style:normal;
	text-transform:uppercase;
}
.articleWrap .thumb {
	height: 130px;
	overflow: hidden;
}
.articleWrap .canvas {
	background: #fff;
}
.articleWrap .thumb img, .articleWrap .img img, .articleWrap .canvas img {
	border: none;
}

}

/*--------------------------------
  2. Print media styles
---------------------------------- */

@media print {

@page {
	width: 100%;
	margin: 2.2cm 1.5cm;
}
* {
	position: /**/static !important; /* HIDDEN FROM IE 5.5 */
}
body {
	font-size: 9pt;
	line-height: 1.3em;
}
h1, h2, h3 {
	page-break-after: avoid;
	clear: left;
}
ul {
	list-style: disc inside;
}
#sidebar {
	display: none;
}

}

/*--------------------------------
  3. Screen media styles
---------------------------------- */
@media screen,projection {

body, h1, #personalInfo {
	width: 780px;
}
body {
	font-size: 0.625em;
	color: white;
	background-color: black;
	padding-top: 14.6em;
	position: relative;
}
h1, #personalInfo {
	position: fixed;
	z-index: 2;
	background: #000;
}
h1 {
	top: 0;
	color: #000;
}
h1 .name:before, h1 .role {
	color: #fff;
}
#personalInfo {
	top: 8em;
	-moz-box-shadow: -5px 5px 15px #000;
	-webkit-box-shadow: -5px 5px 15px #000;
	box-shadow: -5px 5px 15px #000;
}
abbr {
	text-decoration: none;
	cursor: help;
}
.articleWrap {
	float: left;
	width: 100%;
	border-color: #333;
}
#home.hasJS .articleWrap {
	opacity: 0.5;
}
#home.hasJS .active {
	opacity: 1;
}
#home .articleWrap h2 a, .articleWrap h2 {
	background: #111;
	padding: 0.15em 0.5em;
	text-shadow: 2px 2px 1px #000;
}
#home .articleWrap h2 {
	padding: 0;
}
#home.hasJS .active h2 a, .articleWrap h2 {
	color: #e6e;
	background: #222;
	background-image: -moz-linear-gradient(center bottom, #333 0%,  #222 50%, #1c1c1c 51%, #0c0c0c 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333), color-stop(0.5, #222), color-stop(0.51, #1c1c1c), color-stop(1, #0c0c0c));
}
.articleWrap h3, .articleWrap p {
	margin-left: 570px;
}
#error .articleWrap h3 {
	margin-left: 0;
}
.articleWrap em {
	color: #666;
	float: right;
	width: 210px;
	margin-bottom: 0.5em;
}
#home.hasJS .articleWrap em {
	color: #999;
}
#home.hasJS .active em {
	color: #666;
}
.articleWrap .thumb, .articleWrap .img, .articleWrap .canvas {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 550px;
	margin-bottom: 1.5em;
}
.articleWrap .link {
	border-top: 1px solid #333;
	padding-top: 0.5em;
}
/* Blog */
#blog {
	padding-left: 200px;
	padding-right: 200px;
}
#sidebar {
	position: absolute;
	right: 0;
	top: 14.6em;
	width: 200px;
}

}
