/* =============================================================================
   Fonts - Embeded web fonts and fonts usage declarations
   ========================================================================== */

@font-face {
	font-family: 'contact';
	src:url('../fonts/contact.eot?-xs7035');
	src:url('../fonts/contact.eot?#iefix-xs7035') format('embedded-opentype'),
		url('../fonts/contact.woff?-xs7035') format('woff'),
		url('../fonts/contact.ttf?-xs7035') format('truetype'),
		url('../fonts/contact.svg?-xs7035#contact') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2 {
	font-family: 'Crimson Text', serif;
}

.m-personal-info dt {
	font-family: 'contact';
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}