/* =============================================================================
   Layout styles - Major page structures and grids
   ========================================================================== */

/* Naming conventions
--------------------------

ClassNames would be all lower case, words separated by hyphen character (-).

Wrappers	ClassNames with "w-" prefix
Grids		ClassNames with "g-" prefix

*/

.g-full, .g-half, .g-third, .g-quarter, .g-fifth, .g-two-thidrs, .g-three-quarters, .g-two-fifths, .g-three-fifths {
	float: left;
}
.g-full {
	width: 100%;
}
.g-half {
	width: 50%;
}
.g-third {
	width: 33.333%;
}
.g-quarter {
	width: 25%;
}
.g-fifth {
	width: 20%;
}
.g-two-thidrs {
	width: 66.666%;
}
.g-three-quarters {
	width: 75%;
}
.g-two-fifths {
	width: 40%;
}
.g-three-fifths {
	width: 60%;
}

.w-header, .w-fixed, .w-slide, .w-footer, .w-portfolio {
	width: 1100px;
	margin: 0 auto;
	position: relative;
	clear: both;
}
.w-header, .w-fixed {
	width: 1140px;
}
.w-fixed {
	position: fixed;
	overflow: hidden;
	background: #fff;
	z-index: 2;
}
.w-main {
	max-width: 1680px;
	margin: 0 auto;
	position: relative;
}
.w-slide, .w-portfolio {
	margin-bottom:  100px;
	padding-top: 100px;
	overflow: hidden;
}
.w-portfolio {
	margin-bottom: 0;
}
.w-portfolio .heading {
	margin-bottom: 0;
}
.w-footer {
	padding-top: 60px;
	margin: 0 auto 30px;
}