/* =============================================================================
   Theme styles - Specific modules placement styles
   ========================================================================== */

#work {
	margin-bottom: 40px;
}
.w-portfolio .m-portfolio-item:hover {
	border-color: transparent;
}
#barrandov.w-portfolio .m-portfolio-item {
	min-height: 600px;
}

